#calculatorOutline {
    min-width:300px;
    display:block;
}

body {
    font: 40pt arial, sans-serif;
    color: #5F6368;
}

#display {
    min-width:300px !important;
    height: 75px !important;
    line-height:75px;
    position:relative;
}

#display span {
    height:100%;
    line-height: 75px;
}

#clear {
    width:300px !important;
}

#calculatorOutline div {
    width:300px;
    height:375px;
}

#calculatorOutline div div{
    display:block;
    float: left;
    width:74px;
    height:74px;
    text-align: center;
    line-height: 74px;
    border: 0.5px solid #e5e5e5;
    background-color: #f5f5f5;
    color: #5F6368;
}

.non-numbers {
    background-color: #f0f0f0 !important;
}

#back {
    display:block;
    float: left;
    width:74px;
    height:74px;
    text-align: center;
    line-height: 74px;
    border: 0.5px solid #f1f1f1;
    background-color: #f5f5f5;
    color: #5F6368;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }